*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana;
  }
  header{
    background-color:#409eff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    box-shadow: 5px 5px 1px 0px rgb(0, 0, 0, 0.5);
  }
  
  footer{
    display: flex;
    height: 12vh;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
  }
  

  .form-control input {
    border: 0px solid;
    border-radius: 3px;
    font-size: 18px;
    padding: 13px;
  }

  .form-control button {
    border-radius: 2px;    
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: right;
    border: 1px solid;
    background-color: #409eff;
    color: #ffffff;
}

table, th, td {
  
  box-shadow: 0px 1px 1px 1px gray;
  border: 0px solid gray;
  align-items: center;
  border-collapse: collapse;
  margin: 120px;
  padding: 20px;
  place-items: center;
  
}

#chart-container {
  width: 50%;
  height: 100px;
  margin: auto;
  float: right;
}

